:root{
    --background-footer: linear-gradient( to top, #5E2B05 55%, #BA8C66 100% );
    --color-textFooter: #FFFF;
}

.container {
    display: flex;
    flex-direction: column;              
    padding: 40px 20px 20px 20px;
    box-shadow: 20px 0px 50px rgba(0, 0, 0, 0.50);
    background: var(--background-footer);
    color: var(--color-textFooter);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.top{
    display: flex;
    flex-direction: column;
    gap: 15px !important;
    width: 100%; 
}

/* Logo y Agradecimiento */
.info_thanks{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text_info h1{
    font-size: 2.2rem;
    margin: 0;
    line-height: 1.2;
    font-weight: normal;
}

.LogoFooter{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 15px;
}

/* Informacion de contactenos y puntos de venta */
.store_info_container{
    cursor: pointer;
    list-style: none;
    width: 100%;
    background: none;
}

.store_info_container::-webkit-details-marker{
    display: none;
}

.accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    user-select: none;
}

.accordion h2{
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0;
}

.arrow{
    font-size: 0.8rem;
    transition: transform 0.2s ease;
}

.store_info_container[open] {
    grid-template-rows: 1fr;
    padding-top: 8px;
}

.store_info_container[open] .arrow{
    transform: rotate(180deg);
}

.store_info_container {
    border-top: 1px solid rgba(255, 255, 255, 0.3);    
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 0;                                  
    margin: 5px 0;                                     
}

.accordion_content{
    padding-top: 0px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0fr;
    transition: grid-template-rows 0.3s ease-out, padding 0.3s ease-out;
}

.accordion_content p{
    font-size: 1rem;
    margin: 8px 0;
    color: #e0e0e0;
    line-height: 1.4;
    width: 100%;
    min-height: 0;
    white-space: nowrap;
}

/* Redes sociales */
.social_media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.social_media h3{
    font-size: 1.1rem;
    font-weight: normal;
    white-space: nowrap;
    margin: 0;
}

.social_icons{
    display: flex;
    gap: 14px; 
}

.red_social{
    color: #000000;;
    background-color: #ffffff;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.85rem;
}

.red_social i{
    font-size: 1.4rem;
}

.red_social:hover {
    transform: translateY(-3px); 
    /* background-color: #f3f3f3;    */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25); 
    background-color: #000000;
    color: #ffffff;
    transition: 0.4s;
}
/* --- PIE INFERIOR --- */
.line {
    border: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 20px 0;
}

.copyrigth {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 0.85rem;
    color: #c9c9c9;
    text-align: center;
}

/* Media Query (Tablet) */
@media (min-width: 768px) and (max-width: 1023px){

    .container{
        padding:40px 5% 20px 5%;
    }

    .top{
        display: grid;
        grid-template-columns: 1.2fr 1fr; 
        gap: 0 40px;
        width: 100%;
    }

    .info_thanks{
        grid-column: 1;
        grid-row: 1 / span 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .text_info h1{
        width: 100%;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    .top > details:nth-of-type(1){
        grid-column: 2;
        grid-row: 1;
        display: block;
        height: max-content;
        margin-bottom: 15 !important;
    }

    .top > details:nth-of-type(2){
        grid-column: 2;
        grid-row: 2;
        display: block;
        height: max-content;
        margin-top: -22px !important;
        border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
    }

    .social_media{
        grid-column: 1 / span 2;
        grid-row: 3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 30px;
        width: 100%;
    }

    .copyrigth {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Media Query (Computador) */
@media (min-width: 1024px){

    .container{
        padding: 60px 100px 30px 100px;
    }

    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 80px;
        width: 100%;
        margin-bottom: 40px;
    }

    .info_thanks{
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
        text-align: center;
        width: 35%;
    }

    .text_info h1{
        width: 120%;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    .LogoFooter{
        width: 180px;
        height: 180px;
        margin-top: 40px;
        margin-left: 40px;
    }

    .store_info_container, .social_media{
        width: auto;
    }

    .store_info_container{
        pointer-events: auto;
        width: auto;
    }

    .store_info_container[open] .accordion_content {
        grid-template-rows: 1fr !important;
        padding-top: 10px !important;
        overflow: visible;
    }

    .accordion_content{
        grid-template-columns: 0fr;
        padding-top: 10px !important;
        overflow: hidden;
    }

    .accordion{
        border-bottom: none;
        padding-bottom: 0;
    }

    .accordion h2{
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    /* .arrow{
        align-items: center;
    } */

    .top{
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        gap: 40px;
    }

    .social_media{
        grid-column: 2 / span 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        gap: 15px;
    }
    
    .social_media h3{
        font-size: 20px;
        margin: 0;
    }

    .social_icons{
        display: flex;
        gap: 15px;
    }

    .line{
        margin: 40px 0 20px 0;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .copyrigth{
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
        width: 100%;
    }
}