html, body, #root {
    height: 100%;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

/* Navbar arriba y centrado */
.navbar-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: aliceblue;
    padding: 1rem;
}

/* Main ocupa todo el espacio sobrante */
.main-container {
    flex-grow: 1;
    padding: 2rem;
}

/* Footer abajo y centrado */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 1rem;
}
