.Pagina-Principal{
    background-color: #F5E8D0;
    min-height: 100vh;
    height: 100%;
}

header{
    display: flex;
    justify-content: center;
}
.Titulo-BKS{
    background-color: #8B5E3C;
    color: whitesmoke;
    width: 80%;
    height: 10%;
    margin: 10px;
    padding: 10px;
    font-size: 5vh;
    border-radius: 5px;
    border: 2px solid black;
    align-items: center;
    text-align: center;
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.50);
}

.BotonesPrincipales {
    display: flex;
    justify-content: end;
    align-items: center;
    justify-items: center;
    
}

.Iniciar, .Registro{
    background-color: #6B8E23;
    margin: 10px;
    margin-right: 40px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.Iniciar {
    margin-right: -1px;
}

.Iniciar:hover, .Registro:Hover{
    background-color: #486116;
    border: 1px solid #000000;
}

.Seccion1 {
    display: flex;              /* 🔑 */
    align-items: center;        /* centra vertical */
    gap: 40px;                  /* espacio entre imagen y texto */
    padding: 60px 10%;
}


.Bloque_imagen {
    overflow: hidden;                 /* evita que se salga al hacer zoom */
    border-radius: 16px;              /* bordes suaves */
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.Bloque_imagen img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease;             
}

.Bloque_imagen:hover img {
    transform: scale(1.08);           /* zoom sutil, no agresivo */
}

.Bloque_imagen:hover {
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
}


.Bloque_texto {
    flex: 1;                    /* ocupa el resto del espacio */
}   

.Bloque_texto p {
    line-height: 1.6;
    font-size: 1.5rem;
}

.Seccion2 {
    display: flex;              /* 🔑 */
    align-items: center;        /* centra vertical */
    gap: 40px;                  /* espacio entre imagen y texto */
    padding: 60px 10%;
}


.Bloque_imagen2 {
    overflow: hidden;                 /* evita que se salga al hacer zoom */
    border-radius: 16px;              /* bordes suaves */
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    order: 2;
}

.Bloque_imagen2 img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease;             
}

.Bloque_imagen2:hover img {
    transform: scale(1.08);           /* zoom sutil, no agresivo */
}

.Bloque_imagen2:hover {
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
}


.Bloque_texto2 {
    flex: 1;
    order: 1;                    /* ocupa el resto del espacio */
}   

.Bloque_texto2 p {
    line-height: 1.6;
    font-size: 1.5rem;
}

.Titulo_catalogo{
    text-align: center;
    font-size: 2rem;
}

.BotonesPrincipales button:hover {
    background: #486116;
    transform: translateY(-1px);
}