* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

body {
    height: 100%;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

/* Fondo de login */
.bg-shapes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00000049, #00000049), url('../assets/varios-panes-madera.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -2;
}

.container-fluid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

/* Titulo del inicio de sesion */
.title{
    font-size: 4.3rem;
    color: white;
    margin-bottom: 50px;
    text-align: center;
    padding: 5px;
    border-radius: 70px;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

/* Contenedor del form */
.form-container {
    background: rgba(181, 132, 94, 0.6);
    padding: 2.5rem;
    border-radius: 12px;
    border: 1px black solid;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.99);
    width: 100%;
    height: auto;
    max-width: 500px;
    color: white;
}
/* Titulo del contenedor del formulario */
.form-container p{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.input-group-custom {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.form-control-custom{
    width: 90%;
    max-width: none;
    padding: 12px 20px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

/* Estilo cuando el input está enfocado */
.form-control-custom:focus {
  border-color: #333;
  box-shadow: 0 0 8px rgba(181, 132, 94, 0.6);
  background-color: #fff;
}

/* Botón si lo necesitas */
button {
  margin-top: 15px;
  padding: 12px 24px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(139, 94, 60);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #a4714f;
  border: 1px solid #a4714f;
}