/* Ajustes generales */
.titlePlan {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.titlePlan h1, h3 {
    color: var(--textColorOne);
    -webkit-text-stroke: 0.5px black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.boldType {
    color: var(--textColorBold);
}

.containerMembership {
    background: var(--colorBackground_us);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 20px;
    box-shadow: 1px 5px 50px 1px rgba(0, 0, 0, 0.2);
}

.membershipCard {
    margin: 5px;
    flex: 1;
    border-radius: 8px;
    border: 2px solid black;
}

.basico h2, .maestro h2, .gourmet h2 {
    color: var(--textColorBold);
    -webkit-text-stroke: 0.2px rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.6rem;
}

.basico, .gourmet, .maestro {
    background: #E8BF8E;
    position: relative;
    overflow: hidden;
    padding-top: 80px;
}

.membershipDescription {
    font-size: 0.8rem;
    margin-top: -20px;
}

.membershipBenefits {
    text-align: left;
    padding: 20px;
    font-size: 0.9rem;
    background-color: #BA8C66;
    margin: 10px;
    border-radius: 6px;
}

.buyButton {
    background-color: var(--colorButton);
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    width: 90%;
    margin: 10px;
    cursor: pointer;
}

.line{
    border: none;
    height: 1px;
    background: #b1835d;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.priceInfo .membershipPrice {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: -10px;
}

.priceInfo .otherInfo {
    font-size: 0.7rem;
    font-weight: 450;
}

.buyButton:hover {
    background: var(--colorbuttonHover);
}

.maestro h5, .gourmet h5 {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: -6px;
    font-weight: 450;
}

.maestro h6, .gourmet h6 {
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: -5px;
    color: rgb(80, 79, 79);
}

/* Ajustes para el plan basico (independientes) */
.basico::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 100%;
    height: 70px;
    background-image: url("../../assets/PlanBasico.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX( -50%);
    z-index: 1;
}

.basico .buyButton  {
    background: #C49A6C;
    color: #fff;
    border: 1px solid #8B6848;
    box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
}

/* Ajustes del plan Gourmet (independientes) */
.gourmet::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 100%;
    height: 70px;
    background-image: url("../../assets/PlanGourmet.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX( -50%);
    z-index: 1;
}


/* Ajustes del plan Maestro (independientes) */
.maestro::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 100%;
    height: 70px;
    background-image: url("../../assets/planMaestro.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX( -50%);
    z-index: 1;
}

/* Tablet */
@media (min-width: 768px) {
    .containerMembership {
        display: flex;
        flex-direction: row;
    }

    .membershipCard {
        width: 75%;
    }

    .membershipCard h2 {
        font-size: 1.7rem;
    }

    .membershipDescription {
        font-size: 0.82rem;
        width: 80%;
        justify-self: center;
    }

    .membershipBenefits {
        width: 80%;
        justify-self: center;
    }

    .buyButton{
        width: 80%;
    }

    .maestro h5, .gourmet h5 {
        text-align: left;
        margin-left: 5px;
    }
}

@media (min-width: 1024px) {
    .maestro h5, .gourmet h5 {
        text-align: left;
        margin-left: 10px;
    }
}

@media (min-width: 1025px) {
    .containerMembership {
        flex: none;
    }

    .membershipCard {
        flex: none;
        width: 300px;
        
    }
}